{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-11-08",
    "endpointPrefix":"sagemakerhpo",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"SageMakerHPO",
    "serviceFullName":"SageMakerHPO",
    "signatureVersion":"v4",
    "signingName":"sagemakerhpo",
    "uid":"sagemakerhpo-2017-11-08"
  },
  "operations":{
    "CreateTuningJob":{
      "name":"CreateTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/CreateTuningJob"
      },
      "input":{"shape":"CreateTuningJobRequest"},
      "output":{"shape":"CreateTuningJobResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"ResourceInUse"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"},
        {"shape":"AccessForbidden"}
      ],
      "documentation":"API to create a new Tuning Job, for tuning the provided Hyper Parameters."
    },
    "DescribeTuningJob":{
      "name":"DescribeTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeTuningJob"
      },
      "input":{"shape":"DescribeTuningJobRequest"},
      "output":{"shape":"DescribeTuningJobResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"ResourceNotFound"},
        {"shape":"Throttling"},
        {"shape":"InternalFailure"},
        {"shape":"ServiceUnavailable"},
        {"shape":"AccessForbidden"}
      ],
      "documentation":"API to describe a requested Tuning Job, by providing the Tuning Job Name."
    },
    "ListTrainingJobsForTuningJob":{
      "name":"ListTrainingJobsForTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/ListTrainingJobsForTuningJob"
      },
      "input":{"shape":"ListTrainingJobsForTuningJobRequest"},
      "output":{"shape":"ListTrainingJobsForTuningJobResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"ResourceNotFound"},
        {"shape":"Throttling"},
        {"shape":"InternalFailure"},
        {"shape":"AccessForbidden"},
        {"shape":"ServiceUnavailable"}
      ],
      "documentation":"API to describe a requested Tuning Job, by providing the Tuning Job Name."
    },
    "StopTuningJob":{
      "name":"StopTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/StopTuningJob"
      },
      "input":{"shape":"StopTuningJobRequest"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"},
        {"shape":"AccessForbidden"}
      ],
      "documentation":"API to stop an existing Tuning Job in the control loop."
    }
  },
  "shapes":{
    "AccessForbidden":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AlgorithmImage":{
      "type":"string",
      "max":255
    },
    "AlgorithmSpecification":{
      "type":"structure",
      "required":[
        "TrainingImage",
        "TrainingInputMode"
      ],
      "members":{
        "TrainingImage":{"shape":"AlgorithmImage"},
        "TrainingInputMode":{"shape":"TrainingInputMode"},
        "MetricDefinitions":{"shape":"MetricDefinitionList"}
      },
      "documentation":"It specifies the name of the training image to be used and training input mode. Optionally, it can specify the MetricDefinitionList which defines the list of metrics to be captured using the provided regex of the Metric."
    },
    "AwsAccountId":{
      "type":"string",
      "documentation":"AWS Account Id. All SageMakerHPO API calls need to have have Customer's AWS Account Id. The length of the AWS Account Id should not be greater than 12. Refer: http://docs.aws.amazon.com/general/latest/gr/acct-identifiers.html",
      "max":12,
      "min":1,
      "pattern":"[0-9]{12}"
    },
    "CategoricalParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "Type":{"shape":"ParameterType"},
        "Values":{"shape":"ParameterValues"}
      },
      "documentation":"CategoricalParameterRange defines all possible values that the defined parameter can take."
    },
    "CategoricalParameterRanges":{
      "type":"list",
      "member":{"shape":"CategoricalParameterRange"},
      "documentation":"A list of all categorical hyper-parameter ranges",
      "max":20,
      "min":0
    },
    "Channel":{
      "type":"structure",
      "required":[
        "ChannelName",
        "DataSource"
      ],
      "members":{
        "ChannelName":{"shape":"ChannelName"},
        "DataSource":{"shape":"DataSource"},
        "ContentType":{"shape":"ContentType"},
        "CompressionType":{"shape":"CompressionType"},
        "RecordWrapperType":{"shape":"RecordWrapper"}
      },
      "documentation":"A \"Channel\" represents a unique \"type\" of data source."
    },
    "ChannelName":{
      "type":"string",
      "documentation":"Name of the channel. The name must be an allowable Linux file name.",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9\\.\\-_]+"
    },
    "CompletedCounter":{
      "type":"integer",
      "min":0
    },
    "CompressionType":{
      "type":"string",
      "documentation":"If the input data is compressed, set the appropriate type of compression here. It is NONE by default",
      "enum":[
        "None",
        "Gzip"
      ]
    },
    "ContentType":{
      "type":"string",
      "max":256
    },
    "ContinuousParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "Type":{"shape":"ParameterType"},
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"}
      },
      "documentation":"ContinuousParameterRange defines the value and range of the Float type parameter"
    },
    "ContinuousParameterRanges":{
      "type":"list",
      "member":{"shape":"ContinuousParameterRange"},
      "documentation":"A list of all Continuous hyper-parameter ranges",
      "max":20,
      "min":0
    },
    "CreateTuningJobRequest":{
      "type":"structure",
      "required":[
        "TuningJobName",
        "AwsAccountId",
        "TuningJobConfig",
        "TrainingJobDefinition"
      ],
      "members":{
        "TuningJobName":{"shape":"TuningJobName"},
        "AwsAccountId":{"shape":"AwsAccountId"},
        "TuningJobConfig":{"shape":"TuningJobConfig"},
        "TrainingJobDefinition":{"shape":"TrainingJobDefinition"},
        "Tags":{"shape":"TagList"}
      },
      "documentation":"Defines the request object for the CreateTuningJob API."
    },
    "CreateTuningJobResponse":{
      "type":"structure",
      "required":["TuningJobArn"],
      "members":{
        "TuningJobArn":{"shape":"TuningJobArn"}
      },
      "documentation":"Response object of the CreateTuningJob API"
    },
    "DataSource":{
      "type":"structure",
      "required":["S3DataSource"],
      "members":{
        "S3DataSource":{"shape":"S3DataSource"}
      },
      "documentation":"Contains specifications required to fetch data from one of the supported data sources"
    },
    "DescribeTuningJobRequest":{
      "type":"structure",
      "required":[
        "TuningJobName",
        "AwsAccountId"
      ],
      "members":{
        "TuningJobName":{"shape":"TuningJobName"},
        "AwsAccountId":{"shape":"AwsAccountId"}
      },
      "documentation":"Defines the request object for the DescribeTuningJob API."
    },
    "DescribeTuningJobResponse":{
      "type":"structure",
      "required":[
        "TuningJobName",
        "TuningJobArn",
        "TuningJobConfig",
        "TrainingJobDefinition",
        "TuningJobStatus",
        "TrainingJobCounters"
      ],
      "members":{
        "TuningJobName":{"shape":"TuningJobName"},
        "TuningJobArn":{"shape":"TuningJobArn"},
        "TuningJobConfig":{"shape":"TuningJobConfig"},
        "TrainingJobDefinition":{"shape":"TrainingJobDefinition"},
        "TuningJobStatus":{"shape":"TuningJobStatus"},
        "TuningJobStartTime":{"shape":"Timestamp"},
        "TuningJobEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "BestTrainingJob":{"shape":"TrainingJobSummary"},
        "FailureReason":{"shape":"FailureReason"},
        "TrainingJobCounters":{"shape":"JobsCounters"}
      },
      "documentation":"Response object of the DescribeTuningJob API"
    },
    "FailedCounter":{
      "type":"integer",
      "min":0
    },
    "FailureReason":{
      "type":"string",
      "documentation":"It defines the cause of the failure. It is a first class field of all exception type thrown by this service.",
      "max":1024
    },
    "FinalTuningJobObjectiveMetric":{
      "type":"structure",
      "required":[
        "MetricName",
        "Value"
      ],
      "members":{
        "Type":{"shape":"TuningJobObjectiveType"},
        "MetricName":{"shape":"MetricName"},
        "Value":{"shape":"MetricValue"}
      },
      "documentation":"Final Tuning Job Objective Metric of Hpo Training Job"
    },
    "HyperParameters":{
      "type":"map",
      "key":{"shape":"ParameterKey"},
      "value":{"shape":"ParameterValue"},
      "max":100,
      "min":1
    },
    "InputDataConfig":{
      "type":"list",
      "member":{"shape":"Channel"},
      "documentation":"A list containing different \"channels\" of data. A \"Channel\" represents a unique data source. It is up to the algorithm authors to specify what channels they expect and users need to provide all channels required by that algorithm. There is a limit of 8 input channels.",
      "max":8,
      "min":1
    },
    "IntegerParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "Type":{"shape":"ParameterType"},
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"}
      },
      "documentation":"IntegerParameterRange defines the value and range of the Integer type parameter."
    },
    "IntegerParameterRanges":{
      "type":"list",
      "member":{"shape":"IntegerParameterRange"},
      "documentation":"A list of all Integer hyper-parameter ranges",
      "max":20,
      "min":0
    },
    "InternalFailure":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "JobsCounters":{
      "type":"structure",
      "members":{
        "Pending":{"shape":"PendingCounter"},
        "Completed":{"shape":"CompletedCounter"},
        "Running":{"shape":"RunningCounter"},
        "Failed":{"shape":"FailedCounter"}
      }
    },
    "KmsKeyId":{
      "type":"string",
      "max":2048
    },
    "ListTrainingJobsForTuningJobRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TuningJobName"
      ],
      "members":{
        "AwsAccountId":{"shape":"AwsAccountId"},
        "TuningJobName":{"shape":"TuningJobName"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"},
        "TrainingJobStatusEquals":{"shape":"TrainingJobStatus"},
        "SortBy":{"shape":"TrainingJobSortByOptions"},
        "SortOrder":{"shape":"SortOrder"}
      },
      "documentation":"Defines the request object for the ListTrainingJobsForTuningJob API."
    },
    "ListTrainingJobsForTuningJobResponse":{
      "type":"structure",
      "required":["TrainingJobSummaries"],
      "members":{
        "TrainingJobSummaries":{"shape":"TrainingJobSummaries"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"Results of the ListTrainingJobsForTuningJobResponse, with a list of TrainingJobSummary that contains summary information about the training job. For more details of a specific TrainingJob, see DescribeTrainingJob. The maximum number of results returned is 100. If there are more than 100 results to be returned, the NextToken field will be populated. Users can obtain all results by passing in the this NextToken in a subsequent ListTrainingJobsForTuningJobResponse call until the NextToken is empty in the response. Note that MaxResults is an upper bound, so it is possible for a page's size to be less than MaxResults, or even empty, and still contain more results on the next page."
    },
    "MaxNumberOfTrainingJobs":{
      "type":"integer",
      "documentation":"Maximum number of Training Jobs that Tuning Job is allowed to launch.",
      "min":1
    },
    "MaxParallelTrainingJobs":{
      "type":"integer",
      "documentation":"Maximum number of Parallel Jobs that Tuning Job is allowed to launch",
      "min":1
    },
    "MaxResults":{
      "type":"integer",
      "documentation":"Maximum results that can be returned in the Paginated API. Default value is 100.",
      "max":100,
      "min":1
    },
    "MaxRuntimeInSeconds":{
      "type":"integer",
      "documentation":"Maximum runtime in seconds. If the training job exceeds the specified runtime, the training job will be terminated. Note: This counts only the time during which the job was in 'DOWNLOADING' and 'TRAINING' state.",
      "min":1
    },
    "MetricDefinition":{
      "type":"structure",
      "members":{
        "Name":{"shape":"MetricName"},
        "Regex":{"shape":"MetricRegex"}
      },
      "documentation":"Metric Definitions enable SageMaker to monitor the log output of a Training Job, and extract structured information about its progress and quality. For example, you might define metrics to track the training accuracy and validation accuracy of a model while it trains. These will be reported in near real time as the training job runs, allowing you to see the learning curves for the model and monitor its convergence."
    },
    "MetricDefinitionList":{
      "type":"list",
      "member":{"shape":"MetricDefinition"},
      "documentation":"List of Metric Definition that to be parsed from the training logs. Number of unique metrics should not be greater than 20.",
      "max":20,
      "min":1
    },
    "MetricName":{
      "type":"string",
      "documentation":"Name of the metric to be captured. Length of the name should be greater than equals to 1 and less than equals to 255.",
      "max":255,
      "min":1
    },
    "MetricRegex":{
      "type":"string",
      "documentation":"Regular Expression that will be used to parse the defined Metric value from the logs. The length of the defined regular expression should not be greater than 100.",
      "max":100,
      "min":1
    },
    "MetricValue":{
      "type":"float",
      "documentation":"Captured value of the configured metric."
    },
    "NextToken":{
      "type":"string",
      "documentation":"Next token returned in the Paginated API. Using this token, users can requests the next set of results.",
      "max":8192
    },
    "OutputDataConfig":{
      "type":"structure",
      "required":["S3OutputPath"],
      "members":{
        "KmsKeyId":{"shape":"KmsKeyId"},
        "S3OutputPath":{"shape":"S3Uri"}
      },
      "documentation":"Output data storage configuration. If the algorithm produces output data, this configuration will be required and used to persist the output data from the algorithm"
    },
    "ParameterKey":{
      "type":"string",
      "max":256
    },
    "ParameterRanges":{
      "type":"structure",
      "members":{
        "IntegerParameterRanges":{"shape":"IntegerParameterRanges"},
        "ContinuousParameterRanges":{"shape":"ContinuousParameterRanges"},
        "CategoricalParameterRanges":{"shape":"CategoricalParameterRanges"}
      },
      "documentation":"Aggregates the three types of hyper-parameters that can be tuned: Categorical, Continuous (floating point), and Integer. List of Parameter Range defining the Hyper Parameters to be tuned. This list can be heterogeneous. The total sum of continuous parameter range`s, integer parameter range's and all categories of categorical parameter range's can't be greater than 20. For example a tuning job with 3 continuous, 2 integer and 2 categorical parameters to be tuned, in which there are 4 different categories defined for first categorical parameter and 5 categories defined for the second categorical parameter, which makes the sum equal to 14 (=3+2+4+5). As the sum in this case is less than the max limit of 20, this is the valid length for Parameter Ranges."
    },
    "ParameterType":{
      "type":"string",
      "documentation":"Defines Supported type of Parameter, currently Hildebrand supports 3 types of Parameters:- Integer, Continuous, Categorical.",
      "enum":[
        "Integer",
        "Continuous",
        "Categorical"
      ]
    },
    "ParameterValue":{
      "type":"string",
      "max":256
    },
    "ParameterValues":{
      "type":"list",
      "member":{"shape":"ParameterValue"},
      "documentation":"Defines the list of ParameterValue. It is used to define the possible values the CategoricalParameter can take. Maximum number of possible categories for categorical Hyper Parameter is limited to 20. Consider the limits of ParameterRanges when configuring this.",
      "max":20,
      "min":1
    },
    "PendingCounter":{
      "type":"integer",
      "min":0
    },
    "RecordWrapper":{
      "type":"string",
      "documentation":"Note: This is relevant only for streaming algorithms. SageMaker will provide data streams to algorithms that support streaming, as part of which distinct data objects are concatenated. If the data records specified should be wrapped using RecordIO while combining multiple objects, set this to RECORD_IO (e.g., a collection of images in an S3 bucket would require boundaries to be added to know where one image starts and ends). This is set to NONE by default.",
      "enum":[
        "None",
        "RecordIO"
      ]
    },
    "ResourceConfig":{
      "type":"structure",
      "required":[
        "InstanceType",
        "InstanceCount",
        "VolumeSizeInGB"
      ],
      "members":{
        "InstanceType":{"shape":"TrainingInstanceType"},
        "InstanceCount":{"shape":"TrainingInstanceCount"},
        "VolumeSizeInGB":{"shape":"VolumeSizeInGB"}
      },
      "documentation":"Lets users configure resources allocated to the training job"
    },
    "ResourceInUse":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ResourceLimits":{
      "type":"structure",
      "members":{
        "MaxNumberOfTrainingJobs":{"shape":"MaxNumberOfTrainingJobs"},
        "MaxParallelTrainingJobs":{"shape":"MaxParallelTrainingJobs"}
      },
      "documentation":"Resource Limits defined by the user on the new Tuning Job."
    },
    "ResourceNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "RetriedAttempt":{
      "type":"integer",
      "documentation":"Number of retry attempts made to make the training job successful.",
      "min":0
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "RunningCounter":{
      "type":"integer",
      "min":0
    },
    "S3DataDistribution":{
      "type":"string",
      "enum":[
        "FullyReplicated",
        "ShardedByS3Key"
      ]
    },
    "S3DataSource":{
      "type":"structure",
      "required":[
        "S3DataType",
        "S3Uri"
      ],
      "members":{
        "S3DataType":{"shape":"S3DataType"},
        "S3Uri":{"shape":"S3Uri"},
        "S3DataDistributionType":{"shape":"S3DataDistribution"}
      },
      "documentation":"Represents data in S3. Two options are provided: specifying a S3 prefix or by explicitly listing the files in a manifest file and referencing the manifest file's S3 path. Note: Strong consistency is not guaranteed if s3Prefix is provided here. S3 list operations are not strongly consistent. Use manifestFile if strong consistency is required."
    },
    "S3DataType":{
      "type":"string",
      "enum":[
        "ManifestFile",
        "S3Prefix"
      ]
    },
    "S3Uri":{
      "type":"string",
      "documentation":"Represents the path to a specific S3 object or a S3 prefix",
      "max":1024
    },
    "ServiceUnavailable":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":503},
      "exception":true,
      "fault":true
    },
    "SortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "StopTuningJobRequest":{
      "type":"structure",
      "required":[
        "TuningJobName",
        "AwsAccountId"
      ],
      "members":{
        "TuningJobName":{"shape":"TuningJobName"},
        "AwsAccountId":{"shape":"AwsAccountId"}
      },
      "documentation":"Defines the request object for the StopTuningJob API."
    },
    "StoppingCondition":{
      "type":"structure",
      "required":["MaxRuntimeInSeconds"],
      "members":{
        "MaxRuntimeInSeconds":{"shape":"MaxRuntimeInSeconds"}
      },
      "documentation":"Conditions under which the training job will be terminated. When any of the conditions below match, the training job will be terminated."
    },
    "Tag":{
      "type":"structure",
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":50,
      "min":1
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "Throttling":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":401},
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "TrainingInputMode":{
      "type":"string",
      "enum":[
        "Pipe",
        "File"
      ]
    },
    "TrainingInstanceCount":{
      "type":"integer",
      "documentation":"Number of instances to use for training. If the algorithm supports distributed training, we will use this field. Default is 1",
      "min":1
    },
    "TrainingInstanceType":{
      "type":"string",
      "documentation":"The AWS EC2 instance type to use for training",
      "max":256
    },
    "TrainingJobArn":{
      "type":"string",
      "documentation":"ARN of the training job",
      "max":256,
      "pattern":"arn:aws:sagemaker:[\\p{Alnum}\\-]*:[0-9]{12}:training-job/.*"
    },
    "TrainingJobDefinition":{
      "type":"structure",
      "required":[
        "AlgorithmSpecification",
        "RoleArn",
        "InputDataConfig",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "StaticHyperParameters":{"shape":"HyperParameters"},
        "AlgorithmSpecification":{"shape":"AlgorithmSpecification"},
        "RoleArn":{"shape":"RoleArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "ResourceConfig":{"shape":"ResourceConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"}
      },
      "documentation":"This structure is directly mapped to the EASE CreateTrainingJobRequest, except the fields such as TrainingJobName and HyperParameters. Both of them will be generated and populated by the Tuning Job."
    },
    "TrainingJobName":{
      "type":"string",
      "documentation":"Name for the training job, which will also be the ML model's name after it is learnt. Name is required to be unique within the same account and region. Names are case insensitive. Names should have minimum length of 1 and maximum length of 63 characters.",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "TrainingJobSortByOptions":{
      "type":"string",
      "enum":["FinalObjectiveMetricValue"]
    },
    "TrainingJobStatus":{
      "type":"string",
      "enum":[
        "Created",
        "InProgress",
        "Completed",
        "Failed",
        "Stopping",
        "Stopped",
        "Deleting"
      ]
    },
    "TrainingJobSummaries":{
      "type":"list",
      "member":{"shape":"TrainingJobSummary"},
      "documentation":"A list of TrainingJobSummary objects."
    },
    "TrainingJobSummary":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "TrainingJobStatus",
        "TrainingJobArn",
        "CreationTime"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "TrainingJobStatus":{"shape":"TrainingJobStatus"},
        "TrainingJobArn":{"shape":"TrainingJobArn"},
        "RetriedAttempt":{"shape":"RetriedAttempt"},
        "HyperParameters":{"shape":"HyperParameters"},
        "FinalTuningJobObjectiveMetric":{"shape":"FinalTuningJobObjectiveMetric"},
        "CreationTime":{"shape":"Timestamp"},
        "TrainingJobEndTime":{"shape":"Timestamp"}
      },
      "documentation":"Summarization of the Training Job. It contains a subset of the fields to be returned as part of DescribeTuningJob."
    },
    "TuningJobArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws:sagemaker:[\\p{Alnum}\\-]*:[0-9]{12}:tuning-job/.*"
    },
    "TuningJobConfig":{
      "type":"structure",
      "members":{
        "Strategy":{"shape":"TuningJobStrategyType"},
        "TuningJobObjective":{"shape":"TuningJobObjective"},
        "ResourceLimits":{"shape":"ResourceLimits"},
        "ParameterRanges":{"shape":"ParameterRanges"}
      },
      "documentation":"Hpo Search Configuration, that will define the kind of search strategy to be used to tuned the requested Hyper Parameters"
    },
    "TuningJobName":{
      "type":"string",
      "documentation":"Name for the Tuning job, which will also be prefixed to the training job name launched by this. Name is required to be unique within the same account and region. Names are case insensitive. Names should have minimum length of 1 and maximum length of 32 characters.",
      "max":32,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "TuningJobObjective":{
      "type":"structure",
      "members":{
        "Type":{"shape":"TuningJobObjectiveType"},
        "MetricName":{"shape":"MetricName"}
      },
      "documentation":"TuningJobObjective defines the evaluation mechanism to select the BestTrainingJob."
    },
    "TuningJobObjectiveType":{
      "type":"string",
      "documentation":"Objective of the tuning job, Currently, Tuning job supports following objective types: 1) Maximize: Selects the training job with the highest value of the objective metric as the Best Training Job. 1) Minimize: Selects the training job with the lowest value of the objective metric as the Best Training Job.",
      "enum":[
        "Maximize",
        "Minimize"
      ]
    },
    "TuningJobStatus":{
      "type":"string",
      "documentation":"Status of the Tuning Job.",
      "enum":[
        "Created",
        "Completed",
        "Running",
        "Failed",
        "StopRequested",
        "Stopped",
        "Stopping",
        "WaitingForParameters"
      ]
    },
    "TuningJobStrategyType":{
      "type":"string",
      "documentation":"Search strategies that can be configured to create Tuning Job.",
      "enum":["Bayesian"]
    },
    "ValidationError":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "VolumeSizeInGB":{
      "type":"integer",
      "min":1
    }
  },
  "documentation":"https://aws.amazon.com/amazon-ai/"
}
